.box{ height: 75px;
    width: 75px;
    padding: 5px;
    margin: 70px;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
position: relative;
    top: 20px;
left: 250px;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    }

    #box1{background-color: lawngreen;}
    #box1:hover{transform: skew(45deg);}
    
    #box2{background-color: blue;}
    #box2:hover{transform: skew(90deg);}
   
    #box3{background-color: red;}
    #box3:hover{transform: skew(180deg);}
    
