#first {
    font-family: "Sevillana", cursive;
    font-weight: 400;
    font-style: italic;
  }
  
#second{ font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
#third{font-family: Georgia, 'Times New Roman', Times, serif;}
#fourth{font-family: 'Courier New', Courier, monospace;}