*{margin: 0; padding: 0;}

nav{
    padding: 5px;
}
nav a{text-decoration: none;
    margin: 55px;
}

header{
    background-color: palegreen;
}

#second{
    height: 50px;
    width: 50px;
    color: white;
    background-color: black;
    border-radius: 50%;
}

.box{height: 100px;
width: 100px;
background-color: aqua;
margin: 5px;
display: inline-block;}

#container{border: 3px solid black;}

#box4{ position: fixed;
right: 20px;}

.class{background-color: aqua;
    height: 100px;
    width: 100px;
margin: 5px;}

#box2{z-index: 2;
position: absolute;
left: 30px;}
