.First{background-color: rgb(253, 2, 48);}
.Second{background-color: rgb(255, 0, 170);}
.Third{background-color: rgb(185, 253, 0);}
.Fourth{background-color: rgb(102, 3, 252);}
*{margin: 0; padding:0}