.box{height: 150px;
    width: 150px;
    border: 3px solid black;
    margin: 3px;}
    
    #box1{background-color: aqua;}

    #box2{background-color: red;
    flex-shrink: 4;}

    
    #box3{background-color: blue;}
   #box4{background-color: hotpink;}
    .Container{background-color: bisque;
    height: 300px;
width: 500px;
padding: 5px;
margin: 5px;
border: 3px solid black;
display: flex;
justify-content: center;
align-items: center;}

