.First{
    height: 70px;
    width: 70px; 
background-color: red
}
.Second{
    height: 70px;
    width: 70px; 
background-color: rgb(2, 22, 241)
}
.Third{
    height: 70px;
    width: 70px; 
background-color:#a1ea10
}