#nav1{background-color: rgb(238, 7, 7); height: 80px; width: 115px;
    padding: 5px ;
margin: 5px 5px 50px 5px;}
#nav2{ background-color: cadetblue; padding: 15px;
margin: 25px 5px 5px 5px ;}
    *{margin: 0;padding: 0;}
    .pad{height: 50px;width: 50px; padding: 2px}